@model Common.Models.UserPortfolio

@{
    ViewBag.Title = "Index";
}

<h2>Portfolio</h2>
    
   @if (Model.Entries.Count() > 0)
    {
       <table>
           <thead>
               <tr>
                   <th>Crypto name</th>
                   <th>Amount</th>
                   <th>Current profit</th>
                   <th>Current value</th>
                   <th colspan="2">Actions</th>
               </tr>
           </thead>
           <tbody>
               @foreach(var upe in Model.Entries)
                {
                    <tr>
                        <td>@upe.CryptoName</td>
                        <td>@upe.Amount</td>
                        <td>@upe.CurrentProfit.ToString("C")</td>
                        <td>@upe.CurrentValue.ToString("C")</td>
                        <td>
                            <form action="@Url.Action("DeleteUserPortfolioEntry", "User")" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="cryptoName" value="@upe.RowKey" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </td>
                        <td>
                            <form action="@Url.Action("AddAlarmForCrypto", "User")" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="cryptoName" value="@upe.RowKey" />
                                <input type="number" name="cryptoMargin" required/>
                                <input type="submit" value="Add alarm" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                }
           </tbody>
       </table>
       <div>
           <h4>Total value: @Model.TotalValue.ToString("C")</h4>
           <h4>Total profit: @Model.TotalProfit.ToString("C")</h4>
       </div>
    }
    else
    {
        <p>Your portfolio is empty.</p>
    }

<a href="@Url.Action("AddTransaction", "Transaction")">Add transaction</a>
<a href="@Url.Action("Index", "Transaction")">View transactions</a>
<a href="@Url.Action("Index", "Currency")">Search currency</a>
<a href="@Url.Action("AlarmsView", "User")">View alarms</a>