
@{
    ViewBag.Title = "LogIn";
}



@using (Html.BeginForm("LogIn", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Email", "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="email" name="email" class="form-control" required />
            @Html.ValidationMessage("email", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Password", "Password:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="password" name="password" class="form-control" required />
            @Html.ValidationMessage("password", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>
}

<div class="col-md-offset-2 col-md-10">
    <p> If you don't have an account, <a href="@Url.Action("Register", "User")">register here</a>.</p>
</div>