@using Common.Models
@model IEnumerable<Transaction>  

@{
    ViewBag.Title = "Kriptovalute";
}

<h2>Kriptovalute: </h2>

@if (Model.Count()>0)
{
    <table class="table">
        <thead>
            <tr>
                <th>CryptoName</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.CryptoName</td>
                    <td>@transaction.Price</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Date</td>
                    <td>@transaction.TransactionType</td>
                    <td>
                        <form action="@Url.Action("DeleteTransaction", "Transaction")" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="transactionId" value="@transaction.RowKey" />
                            <input type="submit" value="Delete Transaction" class="btn btn-danger" />
                        </form>
                     </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Trenutno nemate kriptovaluta.</p>
}

